<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">

<head th:replace="view/bar :: head"></head>

<style th:replace="view/bar :: style"></style>

<body th:replace="view/bar :: body"></body>

<body>
	<form th:object="${account}" method="post">
		<p>
			Name: <input type="text" th:field="${account.userName}"
				required="required" />
		</p>
		<p>
			Email : <input type="text" th:field="${account.email}"
				required="required" />
		</p>
		<p>
			Password : <input type="text" th:field="${account.password}"
				required="required" />
		</p>
		<p>
			Profile :<input type="file" name="picture" />
		</p>
		<p>
			Male : <input type="radio" th:field="${account.gender}" value="Male" checked="checked" />
			Female : <input type="radio" th:field="${account.gender}" value="Female" />
		</p>
		<input type="submit" />
	</form>
</body>
</html>