<!DOCTYPE HTML>
<html xmlns:th="http//www.thymeleaf.org">

<head  th:replace ="view/bar :: head" ></head>

<style th:replace ="view/bar :: style"></style>

<body th:replace ="view/bar :: body"></body>

<body > 

<form action="#" th:action="@{/view/Register}" th:object="${Question}" method="post">
  <p>Name: <input type="text" th:field="*{name}" /></p>
   <p>True : <input type="radio"    name="Answer" vaelue="True" th:field="*{answer}"checked="true"></input>
    False: <input type="radio"  name="Answer" value ="False" th:field="*{answer}"></input> </p>
	<p>	
  <p>	
    <button class="button">Next</button>
    </p>
</form>


</body>
</html>